@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:600, 700);
/* CSS Document */

html
{
	height: 100% ; 	
}

body 
{ 
	height:100% ; 
	margin: 0px 0px 0px 0px ;  
	background-color: white  ; 
}

h1
{
	color: white ; 
	font-family: 'Raleway', 'sans-serif' ;
}

h2
{
	text-align:center ;
	color: black ; 
	font-family: 'Raleway', 'sans-serif' ;
}


h1 a:link
{
	color: white ; 
	font-family: 'Raleway', 'sans-serif' ;
}

p
{
	font-family: 'Raleway', 'sans-serif' ;	
	color: #2C3138 ; 
	display: inline ; 
}

div
{
	display: block; 	
}


.center
{
	width: 100% ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.pCenter
{
	width: 500px ;
	display: block ;
	text-align:center ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	
}

#content-area
{
	height:100% ; 
 	width:100% ;  
	position: inherit;
	margin-bottom: auto ; 
	text-align: left ;
	-webkit-transition:margin-left .5s ;  
	-moz-transition: margin-left .5s ;
}


/* HOME PAGE */ 
#home
{
	height: 40% ; 
	width:100% ; 
	margin-top: 3%;
	margin-bottom:auto ; 
	position:absolute ;
} 

#accountButton
{
	width: 10% ;
	margin-left: auto;
	margin-right: 25%;
	margin-bottom: auto;
	text-align:center ;
}

/* Form Validation */ 

#loginForm
{
    text-align: center;	
}

#deleteForm
{
    text-align: center;	
}

#updateForm
{
    text-align: center;	
}

#form-error 
{
	color:red;
	font-size:10px;
	display:none;
}

.inputError
{
	background:red;
	color:white;
}

/* Navigation Bar */
#headerbar
{
	vertical-align: top ; 
	background-color: #578733 ;
	width: 100% ; 
	position:relative ; 
}

#pageTitle
{
	display: inline-block ; 
	vertical-align: top;
	text-align: center ; 
	margin-top: .5% ; 	
}

.faColor
{
	color: white ; 	
}

#menu
{
	margin-top: -4% ;  
	font-family: 'Raleway', 'sans-serif' ;	
}

ul 
{
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline-block ;
}

ul li 
{
  display: inline;
  position: relative;
  padding-right: 20px ;
  float: left;
}

li ul { display: none; }

ul li a 
{
  display: inline;
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  background: #578733;
  white-space: nowrap;
}

ul li a:hover { background: #578733; }

li:hover ul 
{
  display: inline;
  position: relative;
}

li:hover li
{
  float: none;
  font-size: 18px;
}

li:hover a { background: #578733; }

li:hover li a:hover { background: #BFD997; }
