@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:600, 700);
/* CSS Document */

html
{
	height: 100% ; 	
}

body 
{ 
	height:100% ; 
	margin: 0px 0px 0px 0px ;  
	background-color: white  ; 
}

h1
{
	color: white ; 
	font-family: 'Raleway', 'sans-serif' ;
}

h1 a:link
{
	color: white ; 
	font-family: 'Raleway', 'sans-serif' ;
}

p
{
	font-family: 'Raleway', 'sans-serif' ;	
	color: #2C3138 ; 
	display: inline ; 
}

div
{
	display: block; 	
}


.center
{
	width: 100% ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.pCenter
{
	width: 500px ;
	display: block ;
	text-align:center ;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	
}

#content-area
{
	height:100% ; 
 	width:100% ;  
	position: inherit;
	margin-bottom: auto ; 
	text-align: left ;
	-webkit-transition:margin-left .5s ;  
	-moz-transition: margin-left .5s ;
}

#sidebar
{
	vertical-align: top ; 
	background-color: #578733 ;
	width: 100% ; 
	position:relative ; 
}


/* HOME PAGE */ 
#home
{
	height: 40% ; 
	margin-top: 3%;
	margin-bottom:auto ; 
	position:absolute ;
} 

#pageTitle
{
	display: inline-block ; 
	vertical-align: top;
	text-align: center ; 
	margin-top: auto ; 	
}

#home-text
{
	text-align: center;
	margin-top: 4%;
	margin-bottom: auto ; 
	background-color: rgba(0,0,0,0.3);
}

/* Form Validation */ 

#insertForm
{
    text-align: center;	
}

#deleteForm
{
    text-align: center;	
}

#updateForm
{
    text-align: center;	
}

#form-error 
{
	color:red;
	font-size:10px;
	display:none;
}

.inputError
{
	background:red;
	color:white;
}
